body {
    font-family: 'Statoil', "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
}

div {
    line-height: 1;
}

.wrapper {
    padding: 20px;
}

.ipad-frame {
    margin: 0 auto;
    padding: 30px;
    border: solid 1px black;
    border-radius: 16px;
    width: 75vh;
    height: calc(100vh - 40px);
    position: relative;
}

.inner-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.content-area {
    background-color: #2f6e79;
    color: #e3f9ed;
    padding: 5px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    font-family: 'Statoil', "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Lucida, sans-serif;
}

.image-view {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.question {
    padding: 20px;
    position: relative;
}



.container2 {
    background-color: red;
    width: 67vh;
    height: calc(100vh - 60px); /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

/* If you want text inside of the container */
.text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}